/* Placeholder for contact.css */
.contact__container {
    background: var(--color-bg1);
    padding: 4rem;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 4rem;
    border-radius: 1rem;
}

.contact__aside {
    background: var(--color-primary);
    padding: 3rem;
    border-radius: 1rem;
}

.contact__form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-right: 4rem;
}

.form__name {
    display: flex;
    gap: 1.2rem;
}

.contact__form input[type="text"],
.contact__form input[type="email"],
.contact__form textarea {
    width: 100%;
    padding: 1rem;
    background: var(--color-bg);
    color: var(--color-white);
}
